<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 Not Found</title>
	<link rel="stylesheet" type="text/css" href="application/views/home/css/registe.css">
</head>
<body>
	<div class="head">
		<div class="icon">
			<img src="application/views/home/images/head_icon.png" height="100%">
		</div>
		<div class="userinfo">
			<p>
				<span><a href="index.php?p=admin&c=index">主页</a></span>
			</p>
		</div>
	</div>
	<div style="margin: 20px auto;text-align: center;">
		<h1><?php echo $msg?></h1>
	</div>
	<?php include "footer.html"?>
</body>
</html>