<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>提示信息</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Refresh" content ="<?php echo $wait;?> ;url=<?php echo $url;?>"/>
<link href="application/views/home/css/general.css" rel="stylesheet" type="text/css" />
<link href="application/views/home/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>
    <span class="action-span1"><a>校园BBS论坛</a></span><span class="action-span1"> - 提示信息  </span>
    <div style="clear:both"></div>
    </h1>

    <div class="list-div">
      <div style="background:#FFF; padding: 20px 50px; margin: 2px;">
        <table align="center" width="400">
          <tr>
            <td width="50" valign="top">
              <img src="application/views/home/images/warning.gif" width="32" height="32" border="0" alt="warning" />
            </td>
            <td style="font-size: 14px; font-weight: bold"><?php echo $message;?></td>
          </tr>
          <tr>
            <td></td>
            <td id="redirectionMsg">
              <?php echo $wait;?> 秒之后跳转
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div id="footer">
    	版权所有 &copy; LZF 1036810809@qq.com
    </div>
</body>
</html>